@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




/* CountUp */

  @property --num-users {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --num-reg-users {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --num-percent {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes counter {
    from {
        --num-users: 0;
        --num-reg-users: 0;
        --num-percent:0;
    }
    to {
        --num-users: 62;
        --num-reg-users: 48;
        --num-percent:80;
    }
  }


  .swiper-container {
    width: 100%;
    overflow: hidden;
  }